# URL usada no portal V3
URL_BASE= 

# ID do Parceiro
ID_PARCEIRO= 

# CNPJ 
CNPJ= 

# Token
TOKEN=

# Código do múnicipio
CMUN= 

# Regime tributário: simples, presumido ou real
REGIME= 

# CRT: 1 = Simples Nacional | 2 = Simples Nacional com excesso de sublimite | 3 = Regime Normal
CRT= 